// CATEGORIES
.categories {
  background-color: var(--clr-bg1);
  height: 32rem;

  .h1 {
    line-height: 1;
    margin-bottom: 3rem;
  }

  &__container {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  &__left {
    margin-right: 4rem;

    p {
      margin: 1rem 0 3rem;
    }
  }

  &__right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
  }
}

.category {
  background-color: var(--clr-bg2);
  padding: 2rem;
  border-radius: 2rem;
  transition: var(--transition);

  &:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
  }

  &:nth-child(2) .category__icon {
    background-color: var(--clr-danger);
  }
  &:nth-child(3) .category__icon {
    background-color: var(--clr-success);
  }
  &:nth-child(4) .category__icon {
    background-color: var(--clr-warning);
  }
  &:nth-child(5) .category__icon {
    background-color: var(--clr-success);
  }

  &__icon {
    background-color: var(--clr-primary);
    padding: 0.7rem 0.9rem;
    border-radius: 0.9rem;
  }

  .h5 {
    margin: 2rem 0 1rem;
  }

  p {
    font-size: 0.85rem;
  }
}

// POPULAR COURSES
.courses {
  margin-top: 10rem;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

.course {
  background-color: var(--clr-bg1);
  text-align: center;
  border: 1px solid transparent;

  transition: var(--transition);

  &:hover {
    background: transparent;
    border-color: var(--clr-primary);
  }

  &__image {
  }
  &__info {
    padding: 2rem;
  }
  &__title {
  }
  p {
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
  }
}

// FAQs
.faqs {
  background-color: var(--clr-bg1);
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

.faq {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  height: 6.1rem;
  background-color: var(--clr-primary);
  cursor: pointer;

  transition: var(--transition);

  &__icon {
    align-self: flex-start;
    font-size: 1.2rem;
  }

  &__question {
    font-size: 1rem;
    line-height: 2.2rem;
    user-select: none;
  }

  &__answer {
    display: none;
    height: 0;
    opacity: 0;
    transition: var(--transition);
  }

  &--open {
    height: 11.2rem;

    .faq__answer {
      display: block;
      height: 5rem;
      opacity: 1;
    }
  }
}

// TESTIMONIALS
.testimonials {
  &__container {
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
  }
}

.testimonial {
  padding-top: 2rem;

  &__avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
  }

  &__info {
    text-align: center;
  }

  &__body {
    background-color: var(--clr-primary);
    padding: 2rem;
    margin-top: 3rem;

    position: relative;

    &::before {
      content: "";
      position: absolute;
      display: block;
      background-image: linear-gradient(
        135deg,
        transparent,
        var(--clr-primary),
        var(--clr-primary),
        var(--clr-primary)
      );
      width: 3rem;
      height: 3rem;
      top: -1.5rem;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
    }
  }
}

@media only screen and (max-width: 1024px) {
  /** CATEGORIES **/
  .categories {
    height: auto;

    &__container {
      grid-template-columns: 1fr;
      gap: 3rem;
    }

    &__left {
      margin-right: 0;
    }
  }

  /** POPULAR COURSES **/
  .courses {
    margin-top: 0;

    &__container {
      grid-template-columns: 1fr 1fr;
    }
  }

  /** FAQ **/
  .faqs {
    &__container {
      grid-template-columns: 1fr;
    }
  }
  .faq {
    padding: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  /* CATEGORIES */
  .categories {
    &__right {
      grid-template-columns: 1fr;
      gap: 0.7rem;
    }
  }

  .category {
    padding: 1rem;
    border-radius: 1rem;

    &__icon {
      margin-top: 4px;
      display: inline-block;
    }
  }

  /* POPULAR COURSES */
  .courses {
    &__container {
      grid-template-columns: 1fr;
    }
  }

  /* TESTIMONIALS */
  .testimonial {
    &__body {
      padding: 1.2rem;
    }
  }
}
