:root {
  --clr-primary: #6c63ff;
  --clr-success: #00bf8e;
  --clr-warning: #f7c94b;
  --clr-danger: #f75842;
  --clr-danger-var: rgba(247, 88, 66, 0.4);
  --clr-white: #fff;
  --clr-light: rgba(255, 255, 255, 0.7);
  --clr-black: #000;
  --clr-bg: #1f2643;
  --clr-bg1: #2e3267;
  --clr-bg2: #424890;

  --container-width-lg: 76%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 250ms ease;
}
