/** DARK THEME VARIABLES **/

.dark {
  --clr-bg: #181a1e;
  --clr-white: #202528;
  --clr-dark: #edeffd;
  --clr-dark-var: #a3bdcc;
  --clr-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--clr-light);
}
