.primary {
  color: var(--clr-primary) !important;
}
.danger {
  color: var(--clr-danger) !important;
}
.success {
  color: var(--clr-success) !important;
}
.warning {
  color: var(--clr-warning) !important;
}
